@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    overflow: hidden;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 1.1em;
}

.content h1 {
    font-size: 3em;
}

.content h2 {
    color: rgb(175, 175, 175);
}

.content button {
    margin: 10px 0 0 0;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 1.1em;
}

.content button:hover {
    background: #fff;
    color: #162938;
}

main section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background-position-x: center;
    background-size: cover;
}

main section span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    animation: animate 3s linear infinite;
}

main section span {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(500px);
    }
    100%
    {
        transform: rotate(315deg) translateX(-2500px);
    }
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 700;
    margin-left: 40px;
}

.navigation button:hover {
    background: #fff;
    color: #162938;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    top: -5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #162938;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    color: #162938;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: transform .18s ease;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: transform .18s ease;
    transform: translateX(400px);
}

main section span:nth-child(1) {
    top: -100px;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1.5s;
}

main section span:nth-child(2) {
    top: -100px;
    right: 0;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

main section span:nth-child(3) {
    top: -100px;
    right: 80px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 1s;
}

main section span:nth-child(4) {
    top: -180px;
    right: 0;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 1.5s;
}

main section span:nth-child(5) {
    top: -100px;
    right: 300px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 2s;
}

main section span:nth-child(6) {
    top: -500px;
    right: 0;
    left: initial;
    animation-delay: 0.3s;
    animation-duration: 2s;
}

main section span:nth-child(7) {
    top: -100px;
    right: 700px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 2s;
}

main section span:nth-child(8) {
    top: -300px;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1.5s;
}

main section span:nth-child(9) {
    top: -100px;
    right: 180px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

main section span:nth-child(10) {
    top: -100px;
    right: 0;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.5s;
}

main section span:nth-child(11) {
    top: -100px;
    right: 1000px;
    left: initial;
    animation-delay: 0.3s;
    animation-duration: 2s;
}

main section span:nth-child(12) {
    top: -100px;
    right: 1750px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 2s;
}

main section span:nth-child(13) {
    top: -100px;
    right: 1300px;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 3s;
}

main section span:nth-child(14) {
    top: -100px;
    right: 1200px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 3.5s;
}

main section span:nth-child(15) {
    top: -100px;
    right: 1500px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 4s;
}

main section span:nth-child(16) {
    top: 300px;
    right: -100px;
    left: initial;
    animation-delay: 0;
    animation-duration: 4s;
}

main section span:nth-child(17) {
    top: 500px;
    right: -100px;
    left: initial;
    animation-delay: 0;
    animation-duration: 2s;
}

main section span:nth-child(18) {
    top: 700px;
    right: -100px;
    left: initial;
    animation-delay: 0;
    animation-duration: 1.5s;
}

main section span:nth-child(19) {
    top: 1000px;
    right: -100px;
    left: initial;
    animation-delay: 0;
    animation-duration: 3s;
}

main section span:nth-child(20) {
    top: 200px;
    right: -100px;
    left: initial;
    animation-delay: 0;
    animation-duration: 2s;
}